@import "tailwindcss";

:root {
  --kei-dark: #14254a;
  --kei-blauw: #1e3a6e;
  --kei-oranje: #ee7411;
  --kei-light-95: #e2e2e9;
  --kei-light-85: #b0b1c3;
  --kei-light-50: #696a88;
  --kei-light-25: #394165;
  --kei-light-10: #1e2849;
  --background: #f0f1f5;
  --foreground: #14254a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kei-dark: var(--kei-dark);
  --color-kei-blauw: var(--kei-blauw);
  --color-kei-oranje: var(--kei-oranje);
  --color-kei-light-95: var(--kei-light-95);
  --color-kei-light-85: var(--kei-light-85);
  --color-kei-light-50: var(--kei-light-50);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
